
{% extends "base.html" %}
{% block title %}{{post.title}}{% endblock %}
{% block head %}
	{{ super() }}
	<style>
	</style>
{% endblock %}

{% block body %}
    <div class="col-8">
        <h2>{{post.title}}</h2>
        {% if post.image_id %}
        <img src="{{ url_for('serve_image', image_id=post.image_id) }}" class="img-fluid" alt="Slika">
        {% endif %}
        <h5 class="mt-5">{{post.author}} - {{post.date.strftime('%d.%m.%Y')}}</h5>
        <p class="mt-2">{% for tag in post.tags.split(',') %}
            <span class="badge bg-primary">{{ tag }}</span>
        {% endfor %}</p>
        <p class="mt-5">{{ post.content | markdown | safe }}</p>
        {% if edit_post_permission(post['_id']).can() %}
        <div>
            <a href="{{ url_for('post_edit', post_id=post['_id']) }}" type="button" class="btn btn-primary btn-sm">Uredi</a>
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal"
                data-postid="{{ post['_id'] }}">
                Briši
            </button>
        </div>
        {% endif %}
    </div>
{% endblock %}

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Potvrda brisanja</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Da li ste sigurni da želite obrisati ovaj post?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Odustani</button>
                <form id="deleteForm" method="POST" action="" class="d-inline">
                    <button type="submit" class="btn btn-danger">Briši</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const postId = button.getAttribute('data-postid');
        const deleteForm = document.getElementById('deleteForm');
        deleteForm.action = `/blog/delete/${postId}`;
    });
</script>